webTechnology/practicalQn/qn25.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- 23. Write a XML schema to describe address as an element and city, state and houseNo as its attributes. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="address">
    <xs:complexType>
      <xs:attribute name="city" type="xs:string" use="required"/>
      <xs:attribute name="state" type="xs:string" use="required"/>
      <xs:attribute name="houseNo" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
