webTechnology/practicalQn/qn26.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- . Write a XML Schema to validate the following XML data
<contact-info>
<name>
<FName>Dev </FName>
<LName> Cpgn</LName>
</name>
<Address>Kawasoti</Address>
<phone type=”Mobile”>9867031614</phone>
</contact-info> -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contact-info">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FName" type="xs:string" />
              <xs:element name="LName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Address" type="xs:string" />
        <xs:element name="phone">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
