webTechnology/practise/qn3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	<xs:element name = "University">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Campus">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="Address" type = "xs:string"/>
							<xs:element name="Number" type = "xs:integer"/>
							<xs:element name="accessible" type="xs:boolean"/>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:schema>

		
