webTechnology/pastQN/2079qn5_2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.prg/2001/XMLSchema">
<xs:element name="userInfo">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="username" type="xs:string" />
            <xs:element name="password">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="4"/>
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>